div {
    background: #62374e;
    width: 400px;
    height: 300px;
}

.carrom {
    position: absolute;
    background: #fdc57b;
    width: 50px;
    height: 50px;
}

.o {
    top: 34px;
    left: 50px;
}

.t {
    top: 184px;
    left: 50px;
}

.d {
    top: 34px;
    right: 50px;
}

.f {
    top: 184px;
    right: 50px;
}