body {
    background: #FADE8B;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: space-evenly;
}

section>p {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: orangered;
}

section>style {
    border-radius: 8px;
    display: block;
    white-space: pre;
    background-color: #333;
    color: orangered;
    font: 12px Monaco;
    padding: 0 15px;
    margin-top: 1rem;
    position: relative;
}

.wrapper {
    background: #E3516E;
    width: 400px;
    height: 270px;
    padding-top: 30px;
}

.shape {
    margin: 20px 100px;
    border-radius: 100px;
    border: 100px solid;
    border-color: #FADE8B #0000 #F7F3D7 #51B5A9;
    transform: rotate(45deg);
}